@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2"); }

.personal-info__title:before {
  background: url("../img/sprite.png") no-repeat; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

html,
body {
  height: 100%;
  font-family: roboto-regular;
  color: #1c1c1c; }

.hidden {
  display: none !important; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 74px; }
  @media screen and (max-width: 860px) {
    .wrapper {
      padding: 0 20px 74px; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 113px; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main__title {
    font: 70px roboto-thin, Arial, sans-serif;
    margin-bottom: 49px; }
  .main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media screen and (max-width: 1100px) {
  .navigation {
    display: none; } }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  margin-right: 75px; }
  .navigation__item:last-child {
    margin-right: 0; }

.navigation__link {
  color: #435993;
  font-size: 14px; }

.navigation .active {
  color: #1c1c1c;
  font-family: roboto-light; }

.personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 454px;
  width: 100%;
  margin-bottom: 38px; }
  .personal-info__title {
    font: 30px roboto-light, Arial, sans-serif;
    position: relative;
    padding-top: 77px;
    margin-bottom: 47px; }
    .personal-info__title:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 50%;
      -webkit-transform: translate(-59%, 0);
              transform: translate(-59%, 0);
      background-position: -10px -171px;
      width: 47px;
      height: 47px; }
    .my-experience .personal-info__title {
      padding-top: 80px;
      margin-bottom: 50px; }
    .my-javascript .personal-info__title {
      padding-top: 80px;
      margin-bottom: 7px; }
    .about-user .personal-info__title {
      padding-top: 80px;
      margin-bottom: 12px; }

.my-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 775px;
  margin-bottom: 106px; }
  .my-experience__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 860px) {
      .my-experience__list {
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
  .my-experience__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
            flex: 0 0 28%;
    margin-bottom: 19px; }
    @media screen and (max-width: 860px) {
      .my-experience__item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 45%;
                flex: 1 1 45%; } }
  .my-experience .personal-info__title:before {
    background-position: -10px -0px; }
  .my-experience__text {
    padding-left: 33px;
    position: relative; }
    .my-experience__text:before {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 19px;
      height: 19px;
      border: 1px solid #435993;
      border-radius: 3px;
      display: block; }
    .my-experience__checkbox:checked ~ .my-experience__text:after {
      content: '';
      width: 5px;
      height: 10px;
      border-bottom: 1px solid #435993;
      border-right: 1px solid #435993;
      display: block;
      position: absolute;
      top: 2px;
      left: 8px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .my-experience__checkbox {
    display: none; }
  .my-experience__label {
    cursor: pointer; }

.about-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 520px;
  margin-bottom: 69px; }
  .about-user__text {
    display: block;
    padding-left: 10px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 37px; }
  .about-user .personal-info__title:before {
    background-position: -10px -57px; }
  .about-user__textarea {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0);
    color: #1c1c1c;
    height: 180px;
    width: 100%;
    font-size: 24px;
    padding: 18px 20px;
    box-sizing: border-box; }
    .about-user__textarea::-webkit-input-placeholder {
      font: 20px roboto-light, Arial, sans-serif; }
    .about-user__textarea:-ms-input-placeholder {
      font: 20px roboto-light, Arial, sans-serif; }
    .about-user__textarea::placeholder {
      font: 20px roboto-light, Arial, sans-serif; }

.input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0);
  color: #1c1c1c;
  height: 58px;
  width: 100%;
  font-size: 24px;
  padding: 0 32px;
  margin-bottom: 25px;
  text-align: center; }
  .input::-webkit-input-placeholder {
    color: #c8c8c8;
    font-size: 24px;
    text-align: center; }
  .input:-ms-input-placeholder {
    color: #c8c8c8;
    font-size: 24px;
    text-align: center; }
  .input::placeholder {
    color: #c8c8c8;
    font-size: 24px;
    text-align: center; }
  .input:focus {
    outline: 0; }

.ui-selectmenu-button {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0);
  color: #c8c8c8;
  height: 60px;
  width: 100%;
  font-size: 24px;
  padding: 16px 32px;
  max-width: 320px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 25px;
  margin-right: -5px; }
  .ui-selectmenu-button:focus {
    outline: 0; }

.ui-selectmenu-icon {
  position: absolute;
  border-bottom: 2px solid #435993;
  border-left: 2px solid #435993;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  display: block;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%); }

.ui-selectmenu-menu {
  width: 100%;
  max-width: 320px; }

.ui-menu {
  width: 100%;
  background: #fff;
  color: #c8c8c8;
  font-size: 24px;
  border: 1px solid #e5e5e5;
  height: 30vh;
  overflow: auto;
  padding: 0;
  margin: 0; }
  .ui-menu:focus {
    outline: 0; }

.ui-menu-item {
  padding: 16px 32px; }

.ui-menu-item-wrapper {
  cursor: pointer; }
  .ui-menu-item-wrapper:hover {
    color: #1c1c1c;
    border: 0; }
  .ui-menu-item-wrapper:focus {
    outline: 0; }

.ui-button:active {
  border: 1px solid #e5e5e5; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: none;
  color: #1c1c1c; }

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none; }

.noUi-base {
  position: relative; }
  .noUi-base:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-1.2deg) translateY(-9px);
            transform: rotate(-1.2deg) translateY(-9px); }

.noUi-target {
  overflow: hidden;
  border: 0;
  box-shadow: none;
  background: none; }

.ui-slider-pip-3 {
  display: none !important; }

.ui-slider-handle:first-child {
  background: none !important;
  border: none !important;
  display: none !important; }

.ui-slider-pips .ui-slider-label {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -1em;
  width: 185px;
  text-align: left; }
  @media screen and (max-width: 860px) {
    .ui-slider-pips .ui-slider-label {
      font-size: 12px;
      width: auto; } }

.ui-widget.ui-widget-content {
  border: none; }

.ui-slider-horizontal .ui-slider-range {
  background: linear-gradient(to right, #ccb1f1 0%, #8886c3 100%);
  border-radius: 0; }
  .ui-slider-horizontal .ui-slider-range:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-right: 770px solid transparent;
    border-top: 10px solid #fff;
    z-index: 100;
    position: absolute; }
    @media screen and (max-width: 480px) {
      .ui-slider-horizontal .ui-slider-range:after {
        border-right: 300px solid transparent;
        border-top: 11px solid #fff; } }

.ui-slider-pip-last .ui-slider-label {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  text-align: right; }

.ui-slider-pip-selected,
ui-slider-pip-initial,
.ui-slider-pips [class*=ui-slider-pip-initial],
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label,
.ui-slider-pips [class*=ui-slider-pip-selected] {
  font-weight: normal;
  color: #1c1c1c; }

.ui-slider-pips .ui-slider-label {
  margin-left: 0; }

.ui-state-default, .ui-widget-content .ui-state-default {
  border: 0;
  background: none; }
  .ui-state-default:after, .ui-widget-content .ui-state-default:after {
    content: '';
    background: url(../img/drop.png) no-repeat;
    width: 23px;
    height: 26px;
    display: block;
    bottom: -22px;
    position: relative;
    left: -4px; }
  .ui-state-default:focus, .ui-widget-content .ui-state-default:focus {
    outline: 0; }

#slider-range-min {
  margin-top: 5.5em; }

#slider-range-min .ui-slider-pip {
  top: -12px; }

#slider-range-min .ui-slider-pip .ui-slider-label {
  top: -37px; }
  @media screen and (max-width: 860px) {
    #slider-range-min .ui-slider-pip .ui-slider-label {
      top: -70px; } }

.ui-slider-horizontal.ui-slider-pips {
  margin-bottom: 2em; }

.my-javascript {
  max-width: 770px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
  overflow: hidden; }
  .my-javascript #slider-range-min {
    width: 100%; }
    @media screen and (max-width: 480px) {
      .my-javascript #slider-range-min {
        width: 300px; } }

.button {
  border-radius: 10px;
  background-color: #435993;
  width: 116px;
  height: 51px;
  color: #fff;
  font-size: 16px;
  font-family: roboto-light;
  text-align: center;
  border: 0; }
  .button:focus {
    outline: 0; }
