.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font: 70px $font_thin;
        margin-bottom: 49px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}