.navigation {
    @include tablet {
        display: none;
    }
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 75px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: $color-blue;
        font-size: 14px;
    }
    .active {
        color: $color-black;
        font-family: roboto-light;
    }
}