.navigation {
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: $color-blue;
    }
    .active {
        color: $color-black;
        font-family: roboto-light;
    }
}